In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print("Kernel live ðŸš€")

Kernel live ðŸš€

In [2]:
# Load datasets
aapl_raw = pd.read_csv("data/AAPL_MONTHLY.csv")
portfolio_raw = pd.read_excel("data/VBTLX_VFIAX.xlsx")

aapl_raw.head(), portfolio_raw.head()

(         Date        Open        High         Low       Close    Volume  \
 0  08-03-2015  121.500000  122.570000   92.000000  112.760002  79152700
 1  09-01-2015  110.150002  116.889999  107.360001  110.300003  60620000
 2  10-01-2015  109.070000  121.220001  107.309998  119.500000  52797300
 3  11-02-2015  120.800003  123.820000  111.000000  118.300003  39491000
 4  12-01-2015  118.750000  119.860001  104.820000  105.260002  43750400

     Adj Close Month Date  Unnamed: 8        Unnamed: 9
 0  110.997612        NaN         NaN  AAPL_Return_2016
 1  108.576057    2015/08   -0.234139               NaN
 2  117.632263    2015/09   -0.129045               NaN
 3  116.949501    2015/10   -0.252026               NaN
 4  104.058365    2015/11    0.107857               NaN  ,
             Unnamed: 0 Unnamed: 1 Unnamed: 2  Unnamed: 3           Unnamed: 4  \
 0                 Date      VBTLX      VFIAX         NaN                 Date
 1  2012-01-01 00:00:00       0.88       4.47         NaN  2012-01-01 00:00:00
 2  2012-02-01 00:00:00      -0.04       4.32         NaN  2012-02-01 00:00:00
 3  2012-03-01 00:00:00      -0.57       3.29         NaN  2012-03-01 00:00:00
 4  2012-04-01 00:00:00       1.15      -0.63         NaN  2012-04-01 00:00:00

   Unnamed: 5 Unnamed: 6  Unnamed: 7 Weights   Unnamed: 9
 0      VBTLX      VFIAX         NaN    VBTLX      0.6785
 1     0.0088     0.0447    0.020342    VFIAX      0.3215
 2    -0.0004     0.0432         NaN      NaN         NaN
 3    -0.0057     0.0329         NaN      NaN         NaN
 4     0.0115    -0.0063         NaN      NaN         NaN  )

In [3]:
# Clean AAPL data
aapl = aapl_raw[["Date", "Adj Close"]].copy()
aapl["Date"] = pd.to_datetime(aapl["Date"])

# Monthly returns
aapl["AAPL"] = aapl["Adj Close"].pct_change()
aapl_returns = aapl[["AAPL"]].dropna()

aapl_returns.head()

       AAPL
1 -0.021816
2  0.083409
3 -0.005804
4 -0.110228
5 -0.075242

In [4]:
# Extract portfolio returns by position
portfolio = portfolio_raw.iloc[:, 1:3].copy()
portfolio.columns = ["VBTLX", "VFIAX"]

portfolio = portfolio.dropna()
portfolio.head()

   VBTLX  VFIAX
0  VBTLX  VFIAX
1   0.88   4.47
2  -0.04   4.32
3  -0.57   3.29
4   1.15  -0.63

In [5]:
returns = pd.concat(
    [portfolio, aapl_returns],
    axis=1
).dropna()

returns.head()

  VBTLX VFIAX      AAPL
1  0.88  4.47 -0.021816
2 -0.04  4.32  0.083409
3 -0.57  3.29 -0.005804
4  1.15 -0.63 -0.110228
5  0.96 -6.01 -0.075242